<!DOCTYPE html>
<html>
<head>
    <title>Objeto de Aprendizaje</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>   
    <div class="logo-images">
        <img class="logo-image" src="/imagenes/aniversario.png" alt="1">
        <img class="logo-image" src="/imagenes/utsjr.png" alt="1">
        <img class="logo-image" src="/imagenes/ut.jpeg" alt="1">

    </div>
    <div class="logoUniversidad">
        <a href="/index.ejs"> <img src="/imagenes/ut.jpeg" alt="Logo UTSJR"></a>
        <a href="/index.ejs"> <img src="/imagenes/utsjr.png" alt="Logo UTSJR"></a>
    </div>
</div>
    <h1>Bienvenido al Objeto de Aprendizaje</h1>
    <h2>(Formación sociocultural III)</h2>
    <div class="session-buttons">
        <a href="/sesion/1" class="session-button">Sesión 1</a>
        <a href="/sesion/2" class="session-button">Sesión 2</a>
        <a href="/sesion/3" class="session-button">Sesión 3</a>
        <a href="/sesion/4" class="session-button">Sesión 4</a>
        <a href="/sesion/5" class="session-button">Sesión 5</a>
        <a href="/sesion/6" class="session-button">Sesión 6</a>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
