<!DOCTYPE html>
<html>
<head>
    <title>Objeto de Aprendizaje</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>   
    <div class="header">
        <div class="logo-bar">
            <div class="logo-images">
                <img class="logo-image" src="/imagenes/aniversario.png" alt="1">
                <img class="logo-image" src="/imagenes/utsjr.png" alt="1">
            </div>
            <div class="logo-text">
                <h2>Formación Sociocultural III / Objeto de aprendizaje</h2>
            </div>
        </div>
    </div>
    
    <div class="session-selection">
        <h2 class="white-text">Selecciona una sesión:</h2>
        <ul class="session-list">
            <li><a href="/sesion/1" class="session-link">Sesión 1</a></li>
            <li><a href="/sesion/2" class="session-link">Sesión 2</a></li>
            <li><a href="/sesion/3" class="session-link">Sesión 3</a></li>
            <li><a href="/sesion/4" class="session-link">Sesión 4</a></li>
            <li><a href="/sesion/5" class="session-link">Sesión 5</a></li>
            <li><a href="/sesion/6" class="session-link">Sesión 6</a></li>
        </ul>
    </div>
        </div>
    
    <footer class="footer">
        <p>Contacto: rggiancarlo@gmail.com</p>
        <div class="social-links">
            <a href="https://facebook.com/tu-pagina" target="_blank">Facebook</a>
            <a href="https://twitter.com/tu-pagina" target="_blank">Twitter</a>
        </div>
    </footer>
    
    <script src="/js/script.js"></script>
</body>
</html>
