<!DOCTYPE html>
<html>
<head>
    <title>Sesión 5: Creatividad en la Toma de Decisiones</title>
    <link rel="stylesheet" type="text/css" href="/css/prueba.css">
</head>
<body>
    <div class="header">
        <div class="logo-bar">
            <div class="logo-images">
                <img class="logo-image" src="/imagenes/aniversario.png" alt="1">
                <img class="logo-image" src="/imagenes/utsjr.png" alt="1">
            </div>
            <div class="logo-text">
                <h2>Sesión 5: Creatividad en la toma de decisiones</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="contenido">            
            <div class="session-content">
                <h2>Objetivo del Tema</h2>
                <p>En esta sesión, exploraremos el papel de la creatividad en la toma de decisiones, comprendiendo su proceso y técnicas asociadas. Aprenderemos cómo aplicar enfoques creativos para encontrar soluciones innovadoras a los desafíos que enfrentamos en diferentes contextos.</p>
            </div>

            <div class="session-content">
                <h2>Introducción al Tema</h2>
                <p>La toma de decisiones es un proceso crucial en la vida personal y profesional. Sin embargo, no todas las decisiones pueden abordarse de manera lineal y lógica. La creatividad juega un papel esencial al permitirnos explorar más allá de lo convencional y encontrar soluciones únicas y sorprendentes. En esta sesión, descubriremos cómo la creatividad puede enriquecer nuestra capacidad para tomar decisiones informadas y efectivas.</p>
            </div>

            <div class="session-content">
                <h2>En qué Consiste el Proceso Creativo y sus Etapas para la Toma de Decisiones</h2>
                <p>El proceso creativo es un enfoque que involucra varias etapas para generar soluciones innovadoras:</p>
                <ol>
                    <li><strong>Preparación:</strong> Reúne información y genera ideas preliminares.</li>
                    <li><strong>Incubación:</strong> Permite que el problema sea procesado en segundo plano, generando nuevas conexiones.</li>
                    <li><strong>Iluminación:</strong> Da lugar al "momento Eureka", donde una idea creativa surge repentinamente.</li>
                    <li><strong>Verificación:</strong> Evalúa la viabilidad y eficacia de la idea creativa.</li>
                    <li><strong>Implementación:</strong> Convierte la idea en acción y sigue su desarrollo.</li>
                </ol>
            </div>
            
            <div class="session-content">
                <h2>Explicación de las Técnicas Creativas para la Toma de Decisiones</h2>
                <p>Las técnicas creativas son herramientas que fomentan la creatividad en la toma de decisiones:</p>
                <ul>
                    <li><strong>Tormenta de Ideas (Brainstorming):</strong> Genera ideas sin censura en un entorno colaborativo.</li>
                    <li><strong>Mapas Mentales:</strong> Organiza ideas visualmente para explorar relaciones.</li>
                    <li><strong>Role Playing:</strong> Asume perspectivas diferentes para ver el problema desde ángulos diversos.</li>
                    <li><strong>Reversión:</strong> Invierte conceptos para encontrar soluciones nuevas.</li>
                    <li><strong>Analogías:</strong> Encuentra similitudes entre problemas no relacionados.</li>
                </ul>
            </div>
            
        
            
            <div class="session-content">
                <h2>Conclusiones</h2>
                <p>La creatividad es una habilidad valiosa en la toma de decisiones, ya que nos permite explorar nuevas perspectivas y encontrar soluciones innovadoras. Al comprender el proceso creativo y aplicar técnicas creativas, podemos enriquecer nuestra capacidad para enfrentar desafíos de manera única. La combinación de pensamiento lógico y creativo nos permite tomar decisiones informadas y efectivas en diversos contextos personales y profesionales.</p>
            </div>
            
            <div class="session-content">
                <h2>Referencias Web:</h2>
                <ul>
                    <li><a href="https://gestionyestrategia.azc.uam.mx/index.php/rge/article/view/466" target="_blank">Creatividad y toma de decisiones</a></li>
                    <li><a href="http://sistemarecursoshumanos.com/mejoramiento-de-la-creatividad-en-la-toma-de-decisiones/" target="_blank">Mejoramiento de la creatividad en la toma de decisiones</a></li>
                    <li><a href="http://www.eepsys.com/es/imaginacion-y-creatividad-en-la-toma-de-decisiones/" target="_blank">Imaginación y creatividad en la toma de decisiones</a></li>
                </ul>
            </div>
        </div>
    </div>
    <a href="https://drive.google.com/drive/folders/1nPOzYxqZAWzmFt_gjtphc0QazhxzZSSu?usp=sharing" class="button">Material Adicional (PDF)</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeqxmd0vmBbXzrdRPij8vBQSucMGvx_OKMonpVTSr4SK3jInA/viewform?usp=sf_link" class="button">Ir al Formulario de Retroalimentación</a>
                <a href="/" class="button">Volver a la página principal</a>
</body>
</html>
