<!DOCTYPE html>
<html>
<head>
    <title>Sesión 4: Consideraciones para la toma de decisiones</title>
    <link rel="stylesheet" type="text/css" href="/css/prueba.css">
</head>
<body>
    <div class="header">
        <div class="logo-bar">
            <div class="logo-images">
                <img class="logo-image" src="/imagenes/aniversario.png" alt="1">
                <img class="logo-image" src="/imagenes/utsjr.png" alt="1">
            </div>
            <div class="logo-text">
                <h2>Sesión 4: Consideraciones para la toma de decisiones</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="session-content">
            <h2>Introducción a las Consideraciones para la Toma de Decisiones</h2>
            <p>En esta sesión, exploraremos aspectos clave que debemos tener en cuenta al tomar decisiones informadas y efectivas. La toma de decisiones es un proceso complejo que puede influir en diferentes áreas de nuestra vida, por lo que es importante considerar varios factores antes de elegir una opción.</p>
        </div>
        
        <div class="iframe-container">
            <iframe src="https://www.slideshare.net/slideshow/embed_code/key/neD9qnPABdR30G?hostedIn=slideshare&page=upload" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>

        <!-- Agrega aquí más contenido relevante sobre las consideraciones para la toma de decisiones -->
        
    </div>
    <div class="button-container">
        <div class="session-content">
            <h2>Referencias Web:</h2>
            <ul>
                <li><a href="https://www.anahuac.mx/blog/tomar-mejores-decisiones-proceso-toma-de-decisiones" target="_blank">Cómo Tomar Mejores Decisiones: Proceso de Toma de Decisiones (Universidad Anáhuac)</a></li>
                <li><a href="https://asana.com/es/resources/decision-making-process" target="_blank">Proceso de Toma de Decisiones: Guía Práctica (Asana)</a></li>
                <li><a href="https://www.lucidchart.com/blog/es/pasos-del-proceso-de-toma-de-decisiones" target="_blank">Pasos del Proceso de Toma de Decisiones (Lucidchart)</a></li>
                <li><a href="https://aulica.com.ar/toma-de-decisiones-estrategicas/" target="_blank">Toma de Decisiones Estratégicas (Aulica)</a></li>
            </ul>

        </div>
      
    </div>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScYYf_hT-3PUyFZqpnn9iQha372FppYJRcJFMlK_JKXeW4C6g/viewform?usp=sf_link" class="button">Ir al Formulario de Retroalimentación</a>
    <a href="/" class="button">Volver a la página principal</a>
</body>
</html>
