<!DOCTYPE html>
<html>
<head>
    <title>Sesión 6: Métodos Cualitativos y Cuantitativos en la Programación para la Toma de Decisiones</title>
    <link rel="stylesheet" type="text/css" href="/css/prueba.css">
</head>
<body>
    <div class="header">
        <div class="logo-bar">
            <div class="logo-images">
                <img class="logo-image" src="/imagenes/aniversario.png" alt="1">
                <img class="logo-image" src="/imagenes/utsjr.png" alt="1">
            </div>
            <div class="logo-text">
                <h2>Sesión 5: Creatividad en la Toma de Decisiones</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="contenido">
            <div class="session-content">
                <h2>Bases Cualitativas y Cuantitativas</h2>
                <h3>Cualitativas (Personales) Intangibles</h3>
                <ul>
                    <li>Experiencia: La experiencia acumulada a lo largo del tiempo juega un papel fundamental en la toma de decisiones...</li>
                    <li>Buen Juicio y la Intuición: El buen juicio y la intuición son cualidades personales que se desarrollan a partir del conocimiento...</li>
                    <li>Hechos: Basar las decisiones en hechos y datos concretos es crucial para garantizar la objetividad y precisión...</li>
                    <li>Creatividad: La creatividad desempeña un papel importante en la exploración de soluciones novedosas y en la generación de ideas frescas...</li>
                </ul>

                <h3>Cuantitativas</h3>
                <ol>
                    <li>Teoría de Redes: La teoría de redes se centra en analizar las relaciones entre diferentes elementos de un sistema...</li>
                    <li>Árboles de Decisión: Los árboles de decisión son representaciones gráficas de las diferentes opciones y sus consecuencias...</li>
                    <li>Matriz de Resultados: La matriz de resultados es una herramienta para evaluar las combinaciones posibles de decisiones y resultados...</li>
                    <li>Teoría de Colas: La teoría de colas se utiliza para analizar y optimizar sistemas de espera. Es relevante en situaciones donde los recursos son limitados...</li>
                    <li>Sistema de Inventarios: La gestión de inventarios implica tomar decisiones sobre la cantidad y el momento de reabastecer los productos...</li>
                    <li>Programación Lineal: La programación lineal se enfoca en la optimización de sistemas lineales...</li>
                    <li>Programación Entera: La programación entera extiende la programación lineal al incluir restricciones de variables enteras...</li>
                    <li>Simulación: La simulación implica crear modelos computacionales para imitar situaciones de la vida real...</li>
                    <li>Análisis de Markov: El análisis de Markov se utiliza para comprender y modelar procesos estocásticos...</li>
                </ol>
                
                <h2>Material de Estudio</h2>
                <p>Para profundizar en estos temas y aprender más sobre los métodos cualitativos y cuantitativos en la programación para la toma de decisiones, puedes descargar el material de estudio disponible en el siguiente enlace:</p>
            </div>
            <div class="button-container">
                <a href="https://drive.google.com/drive/folders/1Ajazmg3pO8_l8fnlSaOBz_ZWFQaAfNMm?usp=share_link" class="button">Material de Estudio (PDF)</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe9JoFkcQMikqxm1EnyifyXkH-fUNLtLA143Hy5u5AHlYQb2A/viewform?usp=sf_link" class="button">Ir al Formulario de Retroalimentación</a>
                <a href="/" class="button">Volver a la página principal</a>
            </div>
        </div>
      
    </div>
</body>
</html>
