<!DOCTYPE html>
<html>
<head>
    <title>Sesión 1: Gestión Empresarial y Toma de Decisiones</title>
    <link rel="stylesheet" type="text/css" href="/css/sesion.css">
</head>
<body>
    <div class="container">
        <h1 class="session-header">Sesión 1: Gestión Empresarial y Toma de Decisiones</h1>
        <div class="session-content">
            <h2>Objetivo de la Sesión</h2>
            <p>Exploraremos los fundamentos de la gestión empresarial y su relación con la toma de decisiones en organizaciones. A través de conceptos clave y casos prácticos, comprenderás cómo las decisiones impactan en el éxito y dirección de una empresa.</p>
            <p>Al final, serás capaz de evaluar enfoques de toma de decisiones, considerando riesgos, beneficios y consecuencias. Comprenderás cómo el enfoque sistémico influye en decisiones organizacionales.</p>
            <p>En esta actividad, exploraremos la gestión empresarial y la toma de decisiones. Analizaremos pilares administrativos y su influencia en empresas. Entenderás la importancia de decisiones estratégicas y cómo afectan a la organización.</p>
            <p>Exploraremos distintos enfoques de toma de decisiones, desde análisis lógicos hasta creatividad. Aprenderás a evaluar alternativas considerando riesgos y beneficios. Veremos cómo el enfoque sistémico conecta decisiones en toda la organización.</p>
            <p>Al terminar, tendrás una visión más profunda de gestión empresarial y toma de decisiones. Estarás preparado para enfrentar desafíos y tomar decisiones informadas en cualquier organización.</p>
        </div>
                
        <div style="display: flex; justify-content: center;">
            <iframe src="https://www.slideshare.net/slideshow/embed_code/key/pQRvtirQ2robhJ?hostedIn=slideshare&page=upload" width="130%" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>       
        <p>Aquí tienes algunos videos adicionales para ampliar tu comprensión:</p>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bK2utmDqc_M" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xtc6cqg49EA" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GrOZtVzLYpM" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Tku8BPmM8kQ" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pMmWtWl9nL8" frameborder="0" allowfullscreen></iframe>
        </div> 

        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdDAGhEMZdvATCktaojFsMqv0vK64sqfEBfHbxvAIx2jsn-lQ/viewform" target="_blank" class="button">Formulario de Retroalimentación</a>
        <a href="/" class="button">Volver a la página principal</a>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
