<!DOCTYPE html>
<html>
<head>
    <title>Sesión 5: Creatividad en la Toma de Decisiones</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/sesion5.css">
</head>
<body>

    <h1>Sesión 5: Creatividad en la Toma de Decisiones</h1>
    <div id="contenido">
        <h2>En qué Consiste el Proceso Creativo y sus Etapas para la Toma de Decisiones</h2>
        <p>La creatividad desempeña un papel fundamental en la toma de decisiones, permitiendo encontrar soluciones innovadoras y únicas para los desafíos que enfrentamos. El proceso creativo involucra varias etapas:</p>
        <ol>
            <li>Preparación: En esta etapa, se reúne información, se estudian los detalles del problema y se generan ideas preliminares.</li>
            <li>Incubación: Es una fase de descanso mental en la que el problema se procesa en segundo plano y se permite que surjan nuevas conexiones y perspectivas.</li>
            <li>Iluminación: También conocida como "el momento Eureka", es cuando una idea creativa se presenta de repente en la mente.</li>
            <li>Verificación: En esta etapa, se evalúa la viabilidad y eficacia de la idea creativa y se adapta según sea necesario.</li>
            <li>Implementación: La idea creativa se convierte en acción, se implementa y se sigue su desarrollo.</li>
        </ol>

        <h2>Explicación de las Técnicas Creativas para la Toma de Decisiones</h2>
        <p>Existen diversas técnicas que fomentan la creatividad en la toma de decisiones:</p>
        <ul>
            <li><strong>Tormenta de Ideas (Brainstorming):</strong> Se reúnen varias personas para generar una gran cantidad de ideas sin censura, lo que puede conducir a soluciones novedosas.</li>
            <li><strong>Mapas Mentales:</strong> Se crean diagramas visuales para organizar ideas y explorar relaciones entre conceptos.</li>
            <li><strong>Role Playing:</strong> Los participantes asumen diferentes roles o perspectivas para ver el problema desde diferentes ángulos.</li>
            <li><strong>Reversión:</strong> Se invierte una situación o concepto para explorar nuevas ideas y soluciones.</li>
            <li><strong>Analógias:</strong> Se encuentran similitudes entre problemas aparentemente no relacionados para inspirar soluciones creativas.</li>
        </ul>

        <a href="https://drive.google.com/drive/folders/1nPOzYxqZAWzmFt_gjtphc0QazhxzZSSu?usp=sharing" class="download-button">Descargar Material Adicional (PDF)</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeqxmd0vmBbXzrdRPij8vBQSucMGvx_OKMonpVTSr4SK3jInA/viewform?usp=sf_link" class="button">Ir al Formulario de Retroalimentación</a>

        <h2>Referencias Web:</h2>
        <ul>
            <li><a href="https://gestionyestrategia.azc.uam.mx/index.php/rge/article/view/466" target="_blank">Creatividad y toma de decisiones</a></li>
            <li><a href="http://sistemarecursoshumanos.com/mejoramiento-de-la-creatividad-en-la-toma-de-decisiones/" target="_blank">Mejoramiento de la creatividad en la toma de decisiones</a></li>
            <li><a href="http://www.eepsys.com/es/imaginacion-y-creatividad-en-la-toma-de-decisiones/" target="_blank">Imaginación y creatividad en la toma de decisiones</a></li>
        </ul>
        <a href="/" class="button">Volver a la página principal</a>

    </div>
</body>
</html>
