<!DOCTYPE html>
<html>
<head>
    <title>Bibliografías</title>
    <meta name="author" content="Ramos Gómez Giancarlo Yislain">
    <meta name="description" content="Bibliografía de las sesiones">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="header">
        <div class="logo-bar">
            <div class="logo-images">
                <img class="logo-image" src="/imagenes/aniversario.png" alt="1">
                <img class="logo-image" src="/imagenes/utsjr.png" alt="1">
            </div>
            <div class="logo-text">
                <h2>Bibliografías</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="session-content">
            <h2><a href="/sesion/1" class="session-link">Sesión 1:</a></h2>
            <p>Drucker, P. (1954). La gerencia de empresas. Edhasa, 2012.</p>
            <p>Simon, H. (1960). El comportamiento administrativo. Aguilar, 1981.</p>
        </div>
        
        <div class="session-content">
            <h2><a href="/sesion/2" class="session-link">Sesión 2:</a></h2>
            <p>Bertalanffy, L. (1968). Teoría general de los sistemas. Fondo de Cultura Económica, 1976.</p>
            <p>Senge, P. (1992). La quinta disciplina. Granica, 1992.</p>
        </div>
        
        <div class="session-content">
            <h2><a href="/sesion/3" class="session-link">Sesión 3:</a></h2>
            <p>Simon, H. (1977). Nuevas teorías de la toma de decisiones organizativas. Amorrortu, 1978.</p>
            <p>Brim, O. et al. (1962). Personalidad y procesos de toma de decisiones. Pirámide, 1978.</p>
        </div>
        
        <div class="session-content">
            <h2><a href="/sesion/4" class="session-link">Sesión 4:</a></h2>
            <p>Kahneman, D. (2003). Maps of Bounded Rationality: A Perspective on Intuitive Judgment and Choice. Premio Nobel, 2003.</p>
            <p>Mintzberg, H. et al. (1993). El proceso estratégico. Prentice Hall, 1993.</p>
        </div>
        
        <div class="session-content">
            <h2><a href="/sesion/5" class="session-link">Sesión 5:</a></h2>
            <p>De Bono, E. (1986). El pensamiento lateral. Paidós, 1986.</p>
            <p>Gelatt, H. (1991). Toma creativa de decisiones. Tecnibán, 1991.</p>
        </div>
        
        <div class="session-content">
            <h2><a href="/sesion/6" class="session-link">Sesión 6:</a></h2>
            <p>Turban, E. et al. (2005). Decisiones optimas para la dirección. Gestión 2000, 2005.</p>
            <p>Power, D. (2015). Sistemas de soporte a las decisiones. Alfaomega, 2015.</p>
        </div>
    </div>
            
    
    <script src="/js/script.js"></script>
</body>
</html>
