<!DOCTYPE html>
<html>
<head>
    <title>Sesión 1: Gestión Empresarial y Toma de Decisiones</title>
    <link rel="stylesheet" type="text/css" href="/css/prueba.css">
</head>
<body>
    <div class="header">
        <div class="logo-bar">
            <div class="logo-images">
                <img class="logo-image" src="/imagenes/aniversario.png" alt="1">
                <img class="logo-image" src="/imagenes/utsjr.png" alt="1">
            </div>
            <div class="logo-text">
                <h2>Sesión 1: Gestión Empresarial y Toma de Decisiones</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="session-content">
            <h2>Objetivo</h2>
            <p>En esta sesión, exploraremos los fundamentos de la gestión empresarial y su relación con la toma de decisiones en organizaciones. A través de conceptos clave y casos prácticos, comprenderás cómo las decisiones impactan en el éxito y dirección de una empresa. Al final, serás capaz de evaluar enfoques de toma de decisiones, considerando riesgos, beneficios y consecuencias. Comprenderás cómo el enfoque sistémico influye en decisiones organizacionales.</p>
        </div>

        <div class="session-content">
            <h2>Introducción</h2>
            <p>La gestión empresarial es un conjunto de prácticas y enfoques destinados a dirigir y administrar eficazmente una organización. Implica tomar decisiones informadas que guíen a la empresa hacia sus objetivos estratégicos y operativos. En esta sesión, exploraremos cómo la toma de decisiones desempeña un papel crucial en la gestión empresarial y cómo las organizaciones enfrentan los desafíos de elegir entre diferentes alternativas.</p>
        </div>

        <div class="session-content">
            <h2>Desarrollo</h2>
            <p>En el desarrollo de esta sesión, analizaremos cómo la planeación estratégica juega un papel fundamental en la gestión empresarial. La planeación estratégica involucra la definición de objetivos a largo plazo, la identificación de recursos necesarios y la determinación de los pasos a seguir para alcanzar el éxito. A medida que exploramos la planeación estratégica, también entenderás cómo esta se conecta con la toma de decisiones, ya que las decisiones estratégicas establecen el rumbo de la organización.</p>
        </div>

        <div class="slides-container">
            <iframe src="https://www.slideshare.net/slideshow/embed_code/key/pQRvtirQ2robhJ?hostedIn=slideshare&page=upload" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>

        <div class="video-header">
            <p>Videos adicionales</p>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xtc6cqg49EA" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pMmWtWl9nL8" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Tku8BPmM8kQ" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GrOZtVzLYpM" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="session-content">
            <h2>Conclusión</h2>
            <p>Al concluir esta sesión, habrás adquirido un entendimiento de cómo la gestión empresarial y la toma de decisiones están intrínsecamente vinculadas. Reconocerás la importancia de tomar decisiones basadas en información sólida y enfoques estratégicos. Habrás explorado cómo las decisiones influyen en el éxito y el futuro de una organización, preparándote para enfrentar desafíos y tomar decisiones informadas en tu carrera profesional.</p>
            <p>Para obtener más información, consulta las siguientes referencias web:</p>
            <ul>
                <li><a href="https://www.concur.com.mx/blog/article/gestion-empresarial-en-que-consiste-mx#:~:text=¿En%20qué%20consiste%20una%20gestión,aspectos%20de%20las%20áreas%20corporativas." target="_blank" style="color: white;">Gestión Empresarial: ¿En qué consiste?</a></li>
                <li><a href="https://asana.com/es/resources/strategic-planning" target="_blank" style="color: white;">Planificación Estratégica</a></li>
                <li><a href="https://asana.com/es/resources/decision-making-process" target="_blank" style="color: white;">Proceso de Toma de Decisiones</a></li>
                <li><a href="https://www.megaron.com.mx/importancia-toma-decisiones" target="_blank" style="color: white;">Importancia de la Toma de Decisiones</a></li>
                <li><a href="https://www.cesuma.mx/blog/caracteristicas-del-proceso-de-toma-de-decisiones-en-una-organizacion.html" target="_blank" style="color: white;">Características del Proceso de Toma de Decisiones</a></li>
            </ul>
        </div>
    </div>

    <div class="bottom-buttons">
        <a href="https://8g4p6d55fgn.typeform.com/to/iCHJ2XAR" class="button">Actividad de comprensión</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdDAGhEMZdvATCktaojFsMqv0vK64sqfEBfHbxvAIx2jsn-lQ/viewform" target="_blank" class="button">Evaluación</a>
        <a href="/" class="button">Volver a la página principal</a>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
