/* Reset de estilos */
body, h1, ul {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos para Sesión 1, Sesión 2 y Sesión 3 */
body {
    background-color: #00173E;
}

.container {
    background-color: #002855;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.header {
    background-color: #002855;
    color: #fff;
    padding: 15px 20px;
}

.logo-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-images {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 20px;
    color: #fff;
    margin: auto;
    margin-left: 1cm;
}

.logo-image {
    width: 150px;
    margin-right: 10px;
}

.session-header {
    color: #007bff;
    margin: 20px 0;
}

.session-content {
    color: white;
    text-align: start;
    padding: 18px;
    margin-top: 0px;
    margin-bottom: 0.001%; /* Espacio de 1 centímetro entre párrafos */
    font-size: 20px;
    line-height: 1.35;
}

.slides-container {
    display: flex;
    justify-content: center;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 500px;
    border: 10;
}

.video-header {
    font-size: 24px;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.button {
    padding: 15px 30px;
    background-color: #04A586;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.button:hover {
    background-color: #0056a6;
    cursor: pointer;
}

/* Estilos para los botones fuera del contenedor */
.bottom-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 30px auto;
    padding: 0 10px;
}

/* Estilos específicos para Sesión 4, 5 y 6 */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.download-button {
    padding: 10px 20px;
}

.footer {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}
