/* Reset de estilos */
body, h1, h2, h3, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #00173E;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 120px;
    color: #fff;
}

h2 {
    font-size: 28px;
    color: #fff;
    margin: 40px 0 20px;
}

/* Estilo para los logotipos y texto de la barra */
.header {
    background-color: #002855;
    color: #fff;
    padding: 15px 20px;
}

.logo-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-images {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 20px;
    color: #fff;
    margin: auto;
    margin-left: 1cm;
}

.logo-image {
    width: 150px;
    margin-right: 10px;
}

/* Estilos para la selección de sesión */
.session-selection {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 4cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
}

.white-text {
    color: #fff;
}

.session-list {
    list-style: none;
    padding: 0;
}

.session-link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 22px 1;
    transition: color 0.3s ease;
}

.session-link:hover {
    color: #04A586;
}

/* Estilo para el pie de página */
.footer {
    background-color: #002855;
    padding: 5px;
    color: #fff;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

/* Estilos para tamaños de pantalla pequeños */
@media (max-width: 768px) {
    .session-selection {
        margin-bottom: 3cm;
    }
}

/* Agrega este estilo al final de tu archivo CSS */
.left-align {
    text-align: left;
    font-size: 12px;
}

/* Resto de los estilos */
.session-link.bibliografias-link {
    font-size: 15px;
}
