/* Reset de estilos */
body, h1, h2, h3, ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #00173E;
}

.container {
    max-width: 900px;
    margin: 0 auto; /* Centro horizontalmente */
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centro verticalmente */
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 120px;
    color: #fff; /* Cambiado a color blanco */
}

h2 {
    font-size: 28px;
    color: #fff; /* Cambiado a color blanco */
    margin: 40px 0 20px;
}

/* Estilo para los logotipos y texto de la barra */
.header {
    background-color: #002855;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo-bar {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Para que ocupe el espacio restante */
}

.logo-images {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    color: #fff;
    margin: auto; /* Centro horizontalmente */
    margin-left: 2cm; /* Mover 2 cm hacia la izquierda */
}

.logo-image {
    width: 150px; /* Aumentado el tamaño de los logos */
    margin-right: 10px;
}

/* Estilos para la selección de sesión */
.session-selection {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 4cm; /* Cambiado a 4cm */
    display: flex; /* Usar flexbox para centrar verticalmente */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centro horizontalmente */
    justify-content: center; /* Centro verticalmente */
    min-height: 45vh; /* Toma al menos el 100% de la altura de la ventana */
}

.white-text {
    color: #fff; /* Cambiar el color del texto a blanco */
}

.session-list {
    list-style: none;
    padding: 0;
}

.session-link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 22px 1; /* Mayor espacio entre los enlaces de sesión */
    transition: color 0.3s ease;
}

.session-link:hover {
    color: #0056a6;
}

/* Estilo para el pie de página */
.footer {
    background-color: #002855;
    padding: 5px;
    color: #fff;
    text-align: center;
    position: fixed; /* Cambiado a fixed */
    bottom: 0;
    width: 100%;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}



